#mapid {
    height: 100%;
    width: 100%;
}

.top-row{
    margin-bottom: 2%;
}
#my_video_1{
    height: 100%;
    width: 100%;
}
#border {
-webkit-box-shadow: -2px 4px 18px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 4px 18px 1px rgba(0,0,0,0.75);
box-shadow: -2px 4px 18px 1px rgba(0,0,0,0.75);

}